{
    "presets": ["stage-0", "react", "es2015"],
    "plugins": [
        ["module-resolver", {
            "root": ["./src/client-app"],
            "alias": {
                "common": "./common",
                "components": "./components",
                "elements": "./elements",
                "redux": "./redux"
            }
        }]
    ]
}