@import 'variables';
//maybe break this out into files by element?

.bm-button {
    background-color: @action-color;
    display: inline-block;
    padding: 8px 10px;
    color: white;
    cursor: pointer;
    box-shadow: 2px 2px 1px black;

    &--disabled {
        background-color: @gray-color;
        cursor: default;
    }
}

.bm-error {
    margin: 10px 0;
    color: @error-text-color;
    background-color: @error-background-color;
    border: 1px solid @error-text-color;
    padding: 10px;
}


.bm-input {
    // font-family: inherit;
    // font-size: inherit;
    //why can't these be global rules????

    &__row {
        margin-bottom: 10px;
    }

    // &__text {
    //     height: 37px;
    //     padding-left: 10px;
    // }

    // &__textarea {
    //     padding: 5px;
    // }

    &__label {
        margin-right: 10px;
    }
}

.bm-dropdown {
    &__container {
        position: relative;
        display: flex;

    }

    &__button {
        &--active {
        }
    }

    &__list {
        margin-left: 10px;
            border: 1px solid black;
            width: 40%;
            position: absolute;
            display: none;
            border-radius: 4px;
            
        
        &--active {
            display: flex;
            justify-content: space-between
        }
        
        &__item {
            border-right: 1px solid black;
            cursor: pointer;
            height: 35px;
            flex-grow: 1;
            line-height: 35px;
            text-align: center;
        }
    }
}