@headerHeight: 50px;

.bm-header {
    height: @headerHeight;
    margin-bottom: 10px;
    padding: 0 10px;

    display: flex;
    justify-content: space-between;

    &  a {
        display: inline-block;
        padding: 0 10px;
        line-height: @headerHeight;
    }
    &__title {
        
    }

    &__links {
        
    }
}

.bm-app-body {
    margin: auto;

    @media (min-width: 768px) {
        width: 70%;
    }
}
