@import 'variables';

.bm-rating {
    &__label {
        font-size: @small-font-size;
    }

    &__bars {
        display: flex;
    }
    &__block {
        width: 50px;
        margin-right: 5px;
        height: 30px;
    }

    &__block--inactive {
        border: 1px dotted @gray-color;
    }
}